In [1]:
import warnings
# Ignore all warnings (not recommended in general)
warnings.filterwarnings('ignore')

# EDA

In [2]:
import pandas as pd

# Load the CSV file
data = pd.read_csv('catfood_no_outliers.csv')

# Show general information about the dataset
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164 entries, 0 to 163
Data columns (total 23 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company         164 non-null    object
 1   price           164 non-null    float64
 2   weight          164 non-null    float64
 3   star_rating     164 non-null    float64
 4   total_comments  164 non-null    float64
 5   adult           164 non-null    float64
 6   chicken         164 non-null    int64
 7   wet             164 non-null    float64
 8   from_ocean      164 non-null    int64
 9   fish            164 non-null    int64
 10  tuna            164 non-null    int64
 11  salmon          164 non-null    int64
 12  mackerel        164 non-null    int64
 13  shrimps         164 non-null    int64
 14  milk            164 non-null    int64
 15  can             164 non-null    int64
 16  gravy           164 non-null    int64
 17  pouch           164 non-null    int64
 18  liver           164 non-null    int64
 19  grilled         164 non-null    int64
 20  turkey          164 non-null    int64
 21  ham             164 non-null    int64
 22  vegan           164 non-null    int64
dtypes: float64(6), int64(16), object(1)
memory usage: 29.6+ KB
None

## Encoding

In [3]:
data_encoded = pd.get_dummies(data, columns=['company'], drop_first=True)
data_encoded.head(10)

,price,weight,star_rating,total_comments,adult,chicken,wet,from_ocean,fish,tuna,...,company_nurture,"company_prodiet,",company_puirna,company_purepet,company_purina,company_royal,company_schesir,company_sheba,company_wag,company_whiskas
0,189.0,1.2,4.2,8285.0,1.0,0,1.0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
1,879.0,7.0,4.3,11737.0,1.0,0,1.0,1,1,0,...,0,0,0,1,0,0,0,0,0,0
2,1900.0,7.0,4.5,8056.0,1.0,0,1.0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
3,719.0,4.2,4.1,4557.0,1.0,0,1.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
4,429.0,2.4,4.0,4522.0,1.0,0,1.0,1,1,0,...,0,0,0,0,0,0,0,0,0,0
5,121.0,1.0,4.1,3166.0,1.0,0,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,369.0,1.1,4.5,12982.0,0.5,0,1.0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
7,808.0,3.0,4.5,6133.0,1.0,0,1.0,1,0,1,...,0,0,0,0,0,0,0,0,0,1
8,387.0,1.2,4.5,8056.0,1.0,0,1.0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
9,387.0,1.2,4.5,3589.0,1.0,1,1.0,0,0,0,...,0,0,0,0,0,0,0,0,0,1